BODY
{
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    MARGIN: 0px;
    DIRECTION: rtl;
    BORDER-TOP: 0px;
    CURSOR: default;
    BORDER-RIGHT: 0px;
    FONT-FAMILY: Tahoma, Arial;
    FONT-SIZE: 11px;
}


.centreposition
{
}

/* force a height so the tabs don't jump as content height changes */
#tabs .tabs-spacer
{
    float: left;
    height: 200px;
}

.tabs-bottom .ui-tabs-nav
{
    clear: left;
    padding: 0 .2em .2em .2em;
}

.tabs-bottom .ui-tabs-nav li
{
        top: auto;
        bottom: 0;
        margin: 0 .2em 1px 0;
        border-top: 0;
}
.tabs-bottom .ui-tabs-nav li.ui-tabs-active
{
       margin-top: -1px;
       padding-top: 1px;
}
.leftFloat
{
    position: absolute;
    top: auto;
    right: 2px;
    float: right;
    width: 180px;
    PADDING-RIGHT: 1px;
    PADDING-LEFT: 1px;
}

div.Issue
{
    background-repeat: no-repeat;
    background-image: url('/imgs/A4.png');
    background-position: 0px 0px;
    width: 297mm;
    height: 210mm;
    list-style-type: none;
}

div.Screen
{
    position: absolute;
    top: auto;
    right: 190px;
    overflow-style: scrollbar;
    overflow-x: scroll;
    overflow-y: scroll;
    width: 750px;
    height: 400px;
    float: left;
    padding-left: 5px;
}
/* Computer-Zen www.computer-zen.com is part of the VORD Web Design Network www.vordweb.co.uk */
UL.ToolBar
{
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 1px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 15px;
    PADDING-TOP: 0px;
    height: 300px;
    overflow: auto;
    border: 1px solid grey;
}
.focus-object
{
    border-bottom: 1px dotted red;
    border-left: 1px dotted red;
    border-right: 1px dotted red;
    border-top: 1px dotted red;
}
span.advertisment-title
{
   
}

span.advertisment-size
{
      PADDING-RIGHT: 15px; PADDING-BOTTOM: 0px;
}

li.drag-li
{
    background-color: ActiveBorder;
}

li.MenuItem
{
    background-image: url('/imgs/ico_18_attributes.gif');
    background-repeat: no-repeat;
    background-position: right;
    text-indent: -2em;
    text-align: left;
    margin: 1em 0;
    border-bottom: 1px dotted grey;
    border-left: 1px dotted grey;
    border-right: 1px dotted grey;
    border-top: 1px dotted grey;
}
.myWidget
{
    /*width:15px; */
    overflow:hidden;
}

INPUT
{
    FONT-FAMILY: Tahoma, Arial;
    FONT-SIZE: 11px;
}
SELECT
{
    FONT-FAMILY: Tahoma, Arial;
    FONT-SIZE: 11px;
}
TEXTAREA
{
    FONT-FAMILY: Tahoma, Arial;
    FONT-SIZE: 11px;
}

TABLE.ms-crm-Loading
{
    FONT-FAMILY: Tahoma, Arial;
    FONT-SIZE: 11px;
}

TD
{
    FONT-SIZE: 11px;
}

TH
{
    FONT-SIZE: 11px;
    FONT-WEIGHT: normal;
}

A
{
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
A:link IMG
{
     FONT-WEIGHT: normal;
     TEXT-DECORATION: none;
}
A:link
{
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
 A:visited IMG
{
     FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}

A:visited
{
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
A:active IMG
{
   FONT-WEIGHT: normal;
   TEXT-DECORATION: none;
}
A:active
{
   FONT-WEIGHT: normal;
   TEXT-DECORATION: none;
}
A:hover IMG
{
   FONT-WEIGHT: normal;
   TEXT-DECORATION: none;
}
A:hover
{
  FONT-WEIGHT: normal;
  TEXT-DECORATION: none;
}
H2
{
  FONT-SIZE: 16px;
}

BUTTON
{
   FONT-SIZE: 11px;
}
