BODY {
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    MARGIN: 0px;
    DIRECTION: rtl;
    BORDER-TOP: 0px;
    CURSOR: default;
    BORDER-RIGHT: 0px;
}
.header {
    height: 100px;
}

.centreposition {
    padding-right: 20px;
    padding-left: 22%;
    background-color: #FFFFF7;
}

/* The centrecontent style is set up for a 2 column layout.  
If you want a 3 column layout then change the centreposition style like this:   padding-right: 200px; 
<div id="right"> Write the content for your right hand column inside an id-"right" div like this </div> */

.centrecontent {
    z-index: 100;
    min-width: 1px;
    background-color: #FFFFFF;
    border: 3px solid #999999;
    padding: 10px;
}

.footer {
    padding-left: 175px;
    background-color: #FFFFF7;
}

.left {
    width: 20%;
    position: absolute;
    top: 100px;
    left: 0px;
    padding: 10px 0px 10px 6px;
}
.leftFloat {
    float:right;
}


.right {
    width: 130px;
    position: absolute;
    top: 100px;
    right: 0px;
    height: 200px;
}

div.Issue {
    background-repeat: no-repeat;
    background-image: url('/imgs/A4-SHISHI48.png');
    background-position: 0px 0px;
    width: 297mm;
    height: 210mm;
}

div.Screen {
    overflow-style: scrollbar;
    overflow-x: scroll;
    overflow-y: scroll;
    width: 700px;
    height: 450px;
}
/* Computer-Zen www.computer-zen.com is part of the VORD Web Design Network www.vordweb.co.uk */
UL {
    PADDING-BOTTOM: 0px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
}

.myWidget {
}
